.why
  .container

    .h2 Почему мы?

    .why__row
      div
        .why__block
          .why__block-number 01
          .why__block-title Точные сроки.
          .why__block-content
            p Наша фабрика свела до абсолютного минимума зависимость сроков производства мебели от партнерских организаций, и за счет этого добилась строгого соблюдения сроков поставки мебели своим клиентам. Это значит, что если клиент рассчитывает получить свой комплект мебели, например, в пятницу 14 апреля, то именно в этот день он ее получит. 
      div
        .why__block
          .why__block-number 02
          .why__block-title Оригинальный дизайн и продуманная конструкция.
          .why__block-content
            p В компании работает собственный проектный отдел. Мы тщательным образом продумываем конструкцию и дизайн любого изделия в соответствии с пожеланиями клиента и будущими условиями эксплуатации. Фабрика мебели производит только оригинальные, свежие, современные образцы мебели.
      div
        .why__block
          .why__block-number 03
          .why__block-title Выполнение заказов любого объема.
          .why__block-content
            p Компания всегда имеет возможность выполнить крупный заказ. Хороший «запас прочности» производственной базы позволяет нам в любой момент увеличить объемы производства мебели. Именно поэтому с нами любят иметь дело клиенты, которым нужно в четкие сроки изготовить полный комплект мебели для частного дома или, скажем, нескольких квартир.
      div
        .why__block
          .why__block-number 04
          .why__block-title Безупречное качество.
          .why__block-content
            p Все операции по изготовлению мебели в «Royal Interni» выполняются в точном соответствии с предусмотренной технологией и на соответствующем оборудовании. Мы производим мебель, которая не уступает по качеству лучшим импортным образцам.