doctype

html(lang="ru")
  
  -var active = 'Продукция' //активный пункт меню, список в header.jade
  -var pageTitle = 'Продукция' + ' - Мастерская художественной мебели фомина' //title страницы для генерации верстки  

  include ./_include/_head

  body

    // Mobile navigation
    include ./_include/_mobile
    
    .base
    
      // Preloader
      include ./_include/_preloader
      include ./_include/_header

      // Breadcrumbs
      .breadcrumbs
        div
          h1 Кабинеты

          ul
            li: a(href="#!") Мастерская мебели
            li: span Название раздела
      
      // Content
      .content

        .content__document
          .container
            .row
              .col-md-6.hidden-sm.hidden-xs
                p(style="font-size: 20px")
                  strong Мебель для домашнего кабинета, о котором Вы мечтали!
                p Решили оборудовать в одной из комнат домашний кабинет, где будет возможность спокойно поработать, почитать книгу или просто отдохнуть? Начните с выбора мебели для этого помещения. Хорошо оборудовать ее добротной, качественной и многофункциональной мебелью. Возможно вы захотите совместить кабинет с библиотекой, в таком случае необходимо будет приобрести соответствующие предметы интерьера: стеллажи или полки для книг, рабочий стол, удобное кресло или диван и др.
                p В кабинете должна присутствовать особая атмосфера, которая позволяет настраиваться на рабочий лад, способствует творчеству и позволяет расслабиться в нужный момент. При выборе мебели для кабинета необходимо учитывать личность его хозяина, его вкусы и предпочтения, чтобы он чувствовал себя комфортно, что поспособствует более плодотворной работе. Размер помещения и его особенности также должны быть учтены. Если это кабинет в офисе, то необходимо позаботиться также и об имидже компании.
              .col-md-6
                .gallery__product.gallery
                  .swiper-container
                    .swiper-wrapper
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                      .swiper-slide
                        a(href="./tmp/gallery/gallery-product.jpg").gallery-item
                          img(src="./tmp/gallery/gallery-product.jpg", alt="").img-responsive
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                          img(src="./tmp/gallery/gallery-product.jpg", alt="")
                    // Add Pagination
                    .swiper-pagination
                    // Add Arrows
                    .swiper-button-next
                    .swiper-button-prev
              .col-md-6.visible-sm.visible-xs
                p(style="font-size: 20px")
                  strong Мебель для домашнего кабинета, о котором Вы мечтали!
                p Решили оборудовать в одной из комнат домашний кабинет, где будет возможность спокойно поработать, почитать книгу или просто отдохнуть? Начните с выбора мебели для этого помещения. Хорошо оборудовать ее добротной, качественной и многофункциональной мебелью. Возможно вы захотите совместить кабинет с библиотекой, в таком случае необходимо будет приобрести соответствующие предметы интерьера: стеллажи или полки для книг, рабочий стол, удобное кресло или диван и др.
                p В кабинете должна присутствовать особая атмосфера, которая позволяет настраиваться на рабочий лад, способствует творчеству и позволяет расслабиться в нужный момент. При выборе мебели для кабинета необходимо учитывать личность его хозяина, его вкусы и предпочтения, чтобы он чувствовал себя комфортно, что поспособствует более плодотворной работе. Размер помещения и его особенности также должны быть учтены. Если это кабинет в офисе, то необходимо позаботиться также и об имидже компании.

        // Advantages
        .advantages
          .container
            h2 Почему мы?

            .advantages__product
              div
                .why__block
                  .why__block-title Подробнее о кабинетах
                  .why__block-content.why__block-content--product
                    p
                      span Стили кабинетов: 
                      br
                      strong классика, ампир, модерн, и любые другие по Вашему желанию.
                    p
                      span Материалы: 
                      br
                      strong древесина ценных пород, металл, натуральный камень, натуральная кожа.
                    p
                      span Декор: 
                      br
                      strong покрытие отдельных элементов мебели сусальным золотом, нанесение художественной резьбы, нанесение патины и глянцевой эмали.

              div
                .advantages__row.advantages__row--product
                  div
                    .advantages__block
                      .advantages__block-title Индивидуальный подход
                      p Каждый клиент получает чашечку лучшего кофе и персонального менеджера.
                  div
                    .advantages__block
                      .advantages__block-title Работаем с 1995
                      p Большой опыт работ и знание своего дела - помогают нам решить задачи любой сложности.
                  div
                    .advantages__block
                      .advantages__block-title Собственное производство
                      p Наличие собственного производства избавляет клиента от всех неприятных неожиданностей.
                  div
                    .advantages__block
                      .advantages__block-title Конструкторские разработки
                      p Используем материалы только высокого качества, для максимального удовлетворения потребностей.

        .content__document.no--p-bottom
          .container
            p(style="font-size: 20px;")
              strong Мебель из массива на заказ — услуга, оказываемая компанией в тесном взаимодействии с заказчиком.  
            p Представляет элитную мебель из массива дерева,  отличающуюся высокой прочностью и долговечностью, надежностью и экологической чистотой. Роскошная и дорогая мебель для кабинета, изготавливается по индивидуальному заказу клиента.  Все предметы обстановки  идеально впишутся в любой стиль интерьера. Наши специалисты помогут разработать дизайн-проект помещения, где все компоненты будут изготовлены под размеры вашего кабинета  в соответствии с выбранным вами стилем. Также будут учтены все ваши пожеланий по цветовому решению и  функциональному наполнению интерьера.
            p Наше производство мебели из массива основано на использовании:
            ul
              li потенциала собственной производственной базы;
              li новейшего технологического оборудования;
              li комплексного программного управления;
              li богатого опыта наших сотрудников.
            p Взаимодействие всех этих компонентов обеспечивает оперативное и качественное выполнение заказов.
            p Мы предлагаем большой выбор комплектующих и материалов. Это позволяет нам с успехом выполнять самые необычные и интересные заказы клиента, а также — решать сложнейшие дизайнерские задачи.
      
      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")
    
