doctype

html(lang="ru")
  
  -var active = 'О нас' //активный пункт меню, список в header.jade
  -var pageTitle = 'О нас' + ' - Мастерская художественной мебели фомина' //title страницы для генерации верстки  

  include ./_include/_head

  body

    // Mobile navigation
    include ./_include/_mobile
    
    .base
    
      // Preloader
      include ./_include/_preloader
      include ./_include/_header

      // Breadcrumbs
      .breadcrumbs
        div
          h1 О нас

          ul
            li: a(href="#!") Мастерская мебели
            li: span Название раздела
      
      // Content
      .content
        
        // Document
        .content__document
          .container
            .visible-sm
              p.introtext Компания ИП «Фомин» производит на заказ качественную мебель и другие предметы интерьера, которые с полным правом можно назвать художественными произведениями. 
              
            .row
              .col-sm-4.col-sm-push-8
                .content__thumb
                  img(src="./tmp/content-thumb.jpg", alt="")

              .col-sm-8.col-sm-pull-4
                .hidden-sm
                  p.introtext Компания ИП «Фомин» производит на заказ качественную мебель и другие предметы интерьера, которые с полным правом можно назвать художественными произведениями. 

                p Мебель из дерева — одно из самых древних изобретений человечества, безусловная, проверенная временем классика, которая актуальна сегодня, как и много лет назад. Компания ИП Фомин специализируется на изготовлении эксклюзивной мебели по индивидуальному заказу.
                p Мастера, работающие в нашей компании, изготавливают мебель в стиле ар деко, ампир, барокко, жакоб и т. д. Среди всего ассортимента каждый Клиент сможет найти именно то изделие, которое станет удивительным и гармоничным украшением его дома. Уникальное сочетание стиля и красоты, наряду с комфортом и надежностью делают предметы интерьера от компании «Royal Interni» эталоном качества. Самым главным для нас является создание таких предметов интерьера, которые на долгие годы станут душой для дома, украшением и отрадой для их обладателей.
                p На сегодняшний день можно с полной ответственностью утверждать, что мы готовы справиться с задачей любой степени сложности, ведь изготовление эксклюзивной мебели стало для нас главным делом всей жизни. Наши сотрудники, имеющие многолетний опыт работы, регулярно посещают профессиональные семинары и тренинги, направленные на повышение квалификации. Такой подход к подготовке персонала позволяет нам всегда предоставлять услуги класса люкс, выполняя все пожелания Клиентов точно и в срок.

        // Why
        include ./_include/_why

        
      
      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")
    
