doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Мастерская художественной мебели фомина' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header

    // Main slider
    .main-slider
      .main-slider__wrapper
    
    // Content
    .content
      .container
        
        h1 Главная 2
        
        p На сегодняшний день можно с полной ответственностью утверждать, что мы готовы справиться с задачей любой степени сложности, ведь изготовление эксклюзивной мебели стало для нас главным делом всей жизни. Наши сотрудники, имеющие многолетний опыт работы, регулярно посещают профессиональные семинары и тренинги, направленные на повышение квалификации. Такой подход к подготовке персонала позволяет нам всегда предоставлять услуги класса люкс, выполняя все пожелания Клиентов точно и в срок.

    
    include ./_include/_footer
    div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")
    
