doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Мастерская художественной мебели фомина' //title страницы для генерации верстки  

  include ./_include/_head

  body

    // Mobile navigation
    include ./_include/_mobile
    
    .base
    
      // Preloader
      include ./_include/_preloader
      include ./_include/_header

      // Main slider
      .main-slider
        .main-slider__wrapper
          - for (var i=0; i<5; i++) {
          div
            .main-slider__block(style="background-image: url('./tmp/main-slider/main-slider-top-1.jpg');")
              .main-slider__content
                a(href="#!").main-slider__link в портфолио
                  i.ion-ios-arrow-thin-right
                a(href="#!").main-slider__title Лестница на Рублевке
                  i.ion-ios-arrow-thin-right
                p г.Москва, Рублевка
          - }

      // Catalog navigation
      .catalog__navigation
        .container
          ul
            li: a(href="#!"): span ОБЩЕСТВЕННЫЕ ИНТЕРЬЕРЫ
            li: a(href="#!"): span кабинеты
            li: a(href="#!"): span корпусная мебель
            li: a(href="#!"): span гардеробные
            li: a(href="#!"): span двери
            li: a(href="#!"): span порталы
      
      // Content
      .content
        
        // About
        section.about
          .container

            .about__wrapper
              .row
                .col-md-4.col-sm-3.hidden-xs
                  .about__thumb
                    img(src="./tmp/about.png", alt="")
                .col-md-8.col-sm-9
                  .about__content
                    h1 О компании
                    p.introtext Компания ИП «Фомин» производит на заказ качественную мебель и другие предметы интерьера, которые с полным правом можно назвать художественными произведениями. 

                    .hidden-sm.visible-xs
                      p Нашей мебелью приятно и любоваться и пользоваться, а срок ее службы измеряется десятилетиями. Каждое изделие изготавливается по уникальной технологии из единого массива дерева. Ценные породы древесины обрабатываются на самом современном оборудовании, комплектующие для которого поставляют такие известные производители, как «Blum», «AGB», «Sayerlack», «Bouhmans». В зависимости от того, какая порода дерева будет обрабатываться, мы подбираем индивидуальную технологию.

                      .clear

                      a(href="#!").about__more Читать подробнее
                        i.ion-ios-arrow-thin-right
              
              .row
                .col-xs-12
                  .about__content.visible-sm.hidden-xs
                    p Нашей мебелью приятно и любоваться и пользоваться, а срок ее службы измеряется десятилетиями. Каждое изделие изготавливается по уникальной технологии из единого массива дерева. Ценные породы древесины обрабатываются на самом современном оборудовании, комплектующие для которого поставляют такие известные производители, как «Blum», «AGB», «Sayerlack», «Bouhmans». В зависимости от того, какая порода дерева будет обрабатываться, мы подбираем индивидуальную технологию.

                    .clear

                    a(href="#!").about__more Читать подробнее
                      i.ion-ios-arrow-thin-right

        // Advantages
        .advantages
          .container
            .advantages__row
              div
                .advantages__block
                  .advantages__block-title Индивидуальный подход
                  p Каждый клиент получает чашечку лучшего кофе и персонального менеджера.
              div
                .advantages__block
                  .advantages__block-title Работаем с 1995
                  p Большой опыт работ и знание своего дела - помогают нам решить задачи любой сложности.
              div
                .advantages__block
                  .advantages__block-title Собственное производство
                  p Наличие собственного производства избавляет клиента от всех неприятных неожиданностей.
              div
                .advantages__block
                  .advantages__block-title Конструкторские разработки
                  p Используем материалы только высокого качества, для максимального удовлетворения потребностей.
        
        // Last works
        .last-works
          .container
            
            .h1 Последние работы
      
      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")
    
