doctype

html(lang="ru")
  
  -var active = 'Производство' //активный пункт меню, список в header.jade
  -var pageTitle = 'Производство' + ' - Мастерская художественной мебели фомина' //title страницы для генерации верстки  

  include ./_include/_head

  body

    // Mobile navigation
    include ./_include/_mobile
    
    .base
    
      // Preloader
      include ./_include/_preloader
      include ./_include/_header

      // Breadcrumbs
      .breadcrumbs
        div
          h1 Производство

          ul
            li: a(href="#!") Мастерская мебели
            li: span Название раздела
      
      // Content
      .content
        
        // Document
        .content__document
          .container
            p.introtext Компания ИП «Фомин» производит на заказ качественную мебель и другие предметы интерьера, которые с полным правом можно назвать художественными произведениями. 

            .row
              .col-sm-6
                p Мебель из дерева — одно из самых древних изобретений человечества, безусловная, проверенная временем классика, которая актуальна сегодня, как и много лет назад. Компания ИП Фомин специализируется на изготовлении эксклюзивной мебели по индивидуальному заказу.
                p Предприятие не экономит на качестве отделочных материалов и фурнитуры. Главные критерии: классика и прочность. Использование в производстве качественной немецкой фурнитуры позволяет сделать наши предметы интерьера удобными в использовании, функциональными, а главное — надежными и долговечными.
              .col-sm-6
                p Большой выбор материалов  и  комплектующих позволяет заказчику выбрать  свой собственный стиль исполнения заказа. Ассортимент и дизайн изделия зависит только от фантазии  клиента.
                p В производстве элитной мебели наши мастера используют разнообразные профессиональные ручные электроинструменты и оборудование. Они владеют различными технологиями покраски, начиная от нанесения патины и глянцевой эмали, заканчивая до сусального золота и кроколе. Мы составим проект, реализовав самые оригинальные дизайнерские идеи.

        // Gallery
        .gallery
          .gallery__carousel
            .gallery__carousel-wrapper
              div
                .gallery__carousel-block
                  a(href="./tmp/gallery/gallery-manufacture-img-1.jpg")
                    img(src="./tmp/gallery/gallery-manufacture-img-1.jpg", alt="").img-responsive
              div
                .gallery__carousel-block
                  a(href="./tmp/gallery/gallery-manufacture-img-2.jpg")
                    img(src="./tmp/gallery/gallery-manufacture-img-2.jpg", alt="").img-responsive
              div
                .gallery__carousel-block
                  a(href="./tmp/gallery/gallery-manufacture-img-1.jpg")
                    img(src="./tmp/gallery/gallery-manufacture-img-1.jpg", alt="").img-responsive
              div
                .gallery__carousel-block
                  a(href="./tmp/gallery/gallery-manufacture-img-2.jpg")
                    img(src="./tmp/gallery/gallery-manufacture-img-2.jpg", alt="").img-responsive
              div
                .gallery__carousel-block
                  a(href="./tmp/gallery/gallery-manufacture-img-1.jpg")
                    img(src="./tmp/gallery/gallery-manufacture-img-1.jpg", alt="").img-responsive
              div
                .gallery__carousel-block
                  a(href="./tmp/gallery/gallery-manufacture-img-2.jpg")
                    img(src="./tmp/gallery/gallery-manufacture-img-2.jpg", alt="").img-responsive
          
          .container
            .gallery__info 
              p Важно отметить, что каждый элемент, созданный руками наших специалистов, можно по праву считать произведением искусства. Связано это с тем, что многие шкафы, комоды, столы и т. д. мы дополняем различными дизайнерскими решениями. В частности, это может быть покрытие отдельных элементов мебели сусальным золотом, нанесение художественной резьбы и многое другое. Но внешняя красота — это далеко не все, чем Вас приятно удивит эксклюзивная мебель на заказ. 
      
      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")
    
