doctype

html(lang="ru")
  
  -var active = 'Проекты' //активный пункт меню, список в header.jade
  -var pageTitle = 'Проекты' + ' - Мастерская художественной мебели фомина' //title страницы для генерации верстки  

  include ./_include/_head

  body

    // Mobile navigation
    include ./_include/_mobile
    
    .base
    
      // Preloader
      include ./_include/_preloader
      include ./_include/_header

      // Breadcrumbs
      .breadcrumbs
        div
          h1 Проекты

          ul
            li: a(href="#!") Мастерская мебели
            li: span Название раздела
      
      // Content
      .content
        
        // Document
        .content__document
          .container
            p.introtext Компания ИП «Фомин» производит на заказ качественную мебель и другие предметы интерьера, которые с полным правом можно назвать художественными произведениями. 

            p Спектр наших услуг включает профессиональную реставрацию и возвращение первоначального облика предметам мебели из натурального дерева. Восстановление утрат предмета (сколов, трещин, ударов и разломов) является основной целью реставрационных работ.

        // Projects
        .projects
          .container

            .projects__wrapper
              .projects__block
                div
                  .projects__block-img
                    a(href="#!")
                      img(src="./tmp/projects/project-1.jpg", alt="").img-responsive
                div
                  a(href="#!").projects__block-title Название проекта
                  p В этом проекте есть немного магии и волшебства, иначе как объяснить то, с какой лёгкостью и скоростью он создавался? Делимся радостью, смотрите и читайте скорее!
                  p.color--add1
                    strong В портфолио 55 фотографий
                  a(href="#!").btn Подробнее
              .projects__block
                div
                  .projects__block-img
                    a(href="#!")
                      img(src="./tmp/projects/project-2.jpg", alt="").img-responsive
                div
                  a(href="#!").projects__block-title Название проекта
                  p В этом проекте есть немного магии и волшебства, иначе как объяснить то, с какой лёгкостью и скоростью он создавался? Делимся радостью, смотрите и читайте скорее!
                  p.color--add1
                    strong В портфолио 55 фотографий
                  a(href="#!").btn Подробнее
              .projects__block
                div
                  .projects__block-img
                    a(href="#!")
                      img(src="./tmp/projects/project-3.jpg", alt="").img-responsive
                div
                  a(href="#!").projects__block-title Название проекта
                  p В этом проекте есть немного магии и волшебства, иначе как объяснить то, с какой лёгкостью и скоростью он создавался? Делимся радостью, смотрите и читайте скорее!
                  p.color--add1
                    strong В портфолио 55 фотографий
                  a(href="#!").btn Подробнее

            .projects__total
              div
                button(type="button").btn.btn--refresh
                  i.ion-refresh
                  | Загрузить еще
              div
                .projects__total-span показано 3 из 99 работ

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")
    
