/* buttons */

.btn {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid $color-add2;
  border-radius: 35px;
  height: 40px;
  text-transform: uppercase;
  line-height: 40px;
  color: $color-white;
  text-decoration: none;
  background: $color-add2;
  transition: all 0.35s;
  box-shadow: 0 6px 25px rgba($color-add2,.77);

  &:hover {
    outline: none;
    box-shadow: none;
    background: $color-add1;
    border-color: $color-add1;
    color: $color-white;
    text-decoration: none;
  }
  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }

  &--default {
    color: #333;
    background-color: $color-white;
    border-color: $color-gray;
  }

  &--block {
    width: 100%;
    display: block;
  }

  &--refresh {
    background: none;
    color: $color-add2;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-bottom: 1px dashed $color-add2;
    height: auto;
    line-height: 1.7;
    font-weight: bold;
    &:hover {
      color: $color-add1;
      background: none;
    }
    [class*="ion-"] {
      margin-right: 10px;
    }
  }
}