/* forms */

input, textarea {
  &::-webkit-input-placeholder {
    color: #9d8274;
    font-size: 12px;
    font-weight: 400;
  }
  &::-moz-placeholder {
    color: #9d8274;
    font-size: 12px;
    font-weight: 400;
  }
  &:-ms-input-placeholder {
    color: #9d8274;
    font-size: 12px;
    font-weight: 400;
  }
  &:-moz-placeholder {
    color: #9d8274;
    font-size: 12px;
    font-weight: 400;
  }
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  outline: none;
}

.form {
  &-group,
  &__group {
    margin-bottom: 15px;
  }
  &-control,
  &__control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 22px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.42857143;
    color: $color-add2;
    background-color: $color-gray1;
    background-image: none;
    border: 1px solid $color-gray1;
    border-radius: 35px;
    box-shadow: none;
    font-weight: 500;
    transition: all .35s;
    &:focus {
      background: $color-white;
      border-color: $color-gray;
    }
  }
}

textarea {
  &.form-control,
  &.form__control {
    height: 150px;
    resize: none;
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.has {
  &-success .form-control {
    border-color: #3c763d;
    box-shadow: none;
  }
  &-warning .form-control {
    border-color: #8a6d3b;
    box-shadow: none;
  }
  &-error .form-control {
    border-color: #a94442;
    box-shadow: none;
  }
  &-success .control-label {
    color: #3c763d;
  }
  &-warning .control-label {
    color: #8a6d3b;
  }
  &-error .control-label {
    color: #a94442;
  }
}