$primary-color: #232323;

$link-color: #ad4c19;

$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;
$color-red: red;

$color-add1: #ad4c19;
$color-add2: #682f11;
$color-gray1: #f3f3f3;
$color-gray2: #fafafa;
$color-dark: #232323;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-neumann: 'neumannregular';
$font-dinpro: 'DIN Pro';
$font-ionicons: 'Ionicons';
