/*==========  Desktop First Method  ==========*/

@media only screen and (max-width: 1999px) {

}

@media only screen and (max-width: 1800px) {
  .main-slider {
    .slick {
      &-prev {
        left: 224px;
      }
      &-next {
        right: 224px;
      }
    }
  }
}

@media only screen and (max-width: 1599px) {

}

@media only screen and (max-width: 1500px) {
  .main-slider {
    .slick {
      &-prev {
        left: 124px;
      }

      &-next {
        right: 124px;
      }
    }
  }
}

@media only screen and (max-width: 1439px) {

}

@media only screen and (max-width: 1300px) {
  .main-slider {
    .slick {
      &-prev {
        left: 24px;
      }

      &-next {
        right: 24px;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .catalog {
    &__navigation {
      ul {
        &>li {

          &>span,
          &>a {
            &>span {
              width: 121px;
            }
          }
        }
      }
    }
  }
  .about {
    &__thumb {
      &::before {
        width: 336px;
        height: 470px;
        margin-top: 17px;
        margin-left: 17px;
      }
      img {
        width: 336px
      }
    }
    &__content {
      padding-top: 65px;
      padding-left: 65px;
      max-width: inherit;
    }
    &__wrapper {
      &::before {
        top: 17px;
      }
    }
  }
  .main-slider {
    height: 563px;
    &__block {
      height: 563px;
    }
    .slick {
      &-slide {
        padding-left: 15px;
        padding-right: 15px;
      }
      &-prev {
        left: -11px;
      }
      &-next {
        right: -11px;
      }
    }
  }
  .feedback {
    &__form {
      max-width: 838px;
    }
  }
  .content {
    &__thumb {
      img {
        width: 293px;
      }
    }
  }
  .why {
    &__row {
      margin: 0 -15px;
      &>div{
        &:nth-child(odd) {
          padding-left: 0;
        }
        &:nth-child(even) {
          padding-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .header {
    &__navigation {
      &>ul {
        &>li {
          &+li {
            margin-left: 25px;
          }
          &:nth-of-type(3) {
            &+li {
              margin-left: 195px;
            }
          }
        }
      }
    }
    &__phone {
      &>div {
        &+div {
          margin-left: 192px;
        }
      }
    }
  }
  .catalog {
    &__navigation {
      ul {
        &>li {
          @include last(2) {
            display: none;
          }
          &>span, &>a {
            &>span {
              width: 145px;
            }
          }
        }
      }
    }
  }
  .about {
    &__thumb {
      &::before {
        width: 199px;
        height: 278px;
        margin-top: 10px;
        margin-left: 10px;
      }
      img {
        width: 199px
      }
    }
    &__content {
      padding-top: 60px;
      padding-left: 47px;
      max-width: inherit;
      &[class*='visible'] {
        padding-top: 20px;
      }
    }
    &__wrapper {
      &::before {
        top: 10px;
        left: 15px;
      }
    }
  }
  .hidden {
    &-sm {
      display: none !important;
    }
  }
  .visible {
    &-sm {
      display: block !important;
    }
  }
  .main-slider {
    height: 430px;
    &__block {
      height: 430px;
    }
    &__title {
      [class*='ion'] {
        display: inline-block;
        font-size: 22px;
        margin-left: 10px;
        vertical-align: 5px;
      }
    }
    &__content {
      padding-bottom: 60px;
    }
    &__link {
      display: none;
    }
  }
  .advantages {
    &__row {
      &>div {
        width: 50%;
      }
    }
  }
  .feedback {
    &__form {
      &>div {
        max-width: 655px;
      }
    }
  }
  .content {
    &__thumb {
      img {
        width: 220px;
      }
    }
  }
  .why {
    &__row {
      &>div {
        width: 100%;
        padding: 0 !important;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .h1, h1 {
    font-size: 40px;
  }
  .header {
    &>.container {
      width: 480px;
    }
    &__logo {
      left: 56px;
      transform: translateX(0);
    }
    &__navigation {
      top: 31px;
      width: auto;
      left: 274px;
      ul {
        display: none;
      }
    }
    &__btn {
      display: block;
    }
    &__phone {
      width: auto;
      left: 214px;
      &>div {
        transform: translateX(0);
        &:last-child {
          display: none;
        }
      }
    }
    &__tagline {
      width: 410px;
    }
  }
  .catalog {
    &__navigation {
      display: none;
    }
  }
  .main-slider {
    margin-bottom: 35px;
    height: 270px;
    &__block {
      height: 270px;
    }
    &__content {
      font-size: 12px;
      padding-bottom: 55px;
      padding-left: 22px;
    }
    &__title {
      font-size: 30px;
      margin-bottom: 0;
      [class*='ion'] {
        vertical-align: 0px;
      }
    }
    &__link {
      display: none;
    }
  }
  .hidden {
    &-xs {
      display: none !important;
    }
  }
  .visible {
    &-xs {
      display: block !important;
    }
  }
  .about {
    margin-bottom: 60px;
    &__wrapper {
      &::before {
        left: -15px;
        top: 0;
      }
    }
    &__content {
      padding-top: 48px;
      padding-left: 0;
    }
  }
  .feedback {
    margin-bottom: 60px;
    &__form {
      &>div {
        max-width: 350px;
      }
      &-title {
        font-size: 25px;
        transform: translateX(-23px)
      }
    }
  }
  .footer {
    &__top {
      &-row {
        &>div {
          width: 50%;
          &.footer__top-div2, &.footer__top-div3 {
            display: none;
          }
        }
      }
    }
    &__bottom {
      &-row {
        height: auto;
        flex-direction: column;
        &>div {
          padding-bottom: 10px;
        }
      }
    }
    &__copyright {
      order: 2;
      padding-bottom: 25px !important;
    }
    &__links {
      order: 1;
      justify-content: center;
      flex-wrap: wrap;
      &>div {
        padding: 0 10px 10px 10px !important;
      }
    }
  }
  .content {
    &__thumb {
      width: 220px;
      margin: 0 auto 45px;
      img {
        width: 220px;
      }
    }
  }
  .why {
    &__block {
      padding: 35px 65px 45px 40px;
    }
  }
}

@media only screen and (max-width: 479px) {
  .header {
    &>.container {
      width: 320px;
    }
    &__tagline {
      height: 50px;
      line-height: 1.4;
      width: 290px;
      white-space: normal;
      padding: 11px 0;
      transform: translate(-50%,calc(50% - 4px));
      &>div {
        line-height: inherit;
        padding: 0 35px;
      }
    }
    &__logo {
      left: 15px;
      img {
        width: 94px;
      }
    }
    &__navigation {
      left: 187px;
    }
    &__phone {
      left: inherit;
      right: 15px;
    }
  }
  .main-slider {
    .slick {
      &-slide {
        padding-left: 0;
        padding-right: 0;
      }
      &-prev {
        left: -15px;
      }
      &-next {
        right: -15px;
      }
    }
    &__content {
      padding-left: 40px;
    }
    &__title {
      line-height: 1.2;
    }
  }
  .advantages {
    &__row {
      &>div {
        width: 100%;
      }
    }
  }
  .feedback {
    &__form {
      &>div {
        max-width: 243px;
      }
      &-title {
        white-space: normal;
        transform: translateX(0);
      }
    }
  }
  .footer {
    &__top {
      &-div1 {
        display: none;
      }

      &-div4 {
        width: 100% !important;
        text-align: center
      }
    }
    &__copyright {
      padding-bottom: 15px !important;
    }
  }
}

@media only screen and (max-width: 319px) {

}

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (min-width: 1440px) {

}

@media only screen and (max-width: 1600px) {

}

@media only screen and (min-width: 1920px) {
  
}